.Loading_bnr{
    width: 100%;
    margin-top: 50%;
}

.starting span{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.starting{
    text-align: center;
}

.loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 150px;
  }
  
  .spinner {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .options img{
    width: 30%;
  }

  .options{
    margin-top: 20px;
    /* border: 2px solid; */
    padding-left: 20px;
    border-radius: 10px;
  }

  .paytm{
    border: 2px solid #53c2f0;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .paytm:hover{
    background-color: #53c2f0;
    transition: 0.25s;
  }

  .phonepe{
    border: 2px solid #5f259f;
  }

  .phonepe:hover{
    background-color: #5f259f;
    transition: 0.25s;
  }

  .phonepe img{
    width: 20%;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .gpay{
    border: 2px solid #6e7bf2;
  }

  .gpay:hover{
    background-color: #6e7bf2;
    transition: 0.25s;
  }

  input,button{
    margin-top: 20px;
  }

  .paytm_img{
    width: 50%;
    margin-left: 40px;
    padding-top: 10px;
  }

  .back_logo{
    margin-left: 20px;
    font-size: 20px;
    padding-top: 10px;
  }


  .nav{
    display: flex;
    /* justify-content: center; */
    /* justify-content: space-between; */
    /* gap: 10px; */
    /* margin-top: 5px; */
    /* border: 2px solid black; */
    /* margin: 0 auto; */
  }

  body{
    font-family: Arial, Helvetica, sans-serif;
    
  }

  .share{
    text-align: center;
    margin-right: 20px;
    /* border: 2px solid black; */
  }

  .share span{
    font-size: 10px;
    padding-bottom: 2px;
  }

  .share i{
    font-size: 25px;
    padding-top: 4px;
  }

  .nav_item{
    /* margin: 0 10px; */
    /* margin-left: 5px; */
  }

  @media (max-width: 400px) {
    .back_logo{
      margin-left: 0px;

    }
  }

  .info_bg{
    background-color: #def6ff;
    text-align: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    border-bottom: 7px solid #3498db; /* Outer bottom border */
        box-shadow: 0px 7px 0px 0px #052a6d; /* Inner bottom border */
        padding-bottom: 15px;
    
  }

  .profile_pic{
    border: 2px solid #f2c007;
    border-radius: 100px;
    width: 55px;
    height: 40px;
    color: white;
    background-color: #f2c007;
    /* margin-left: 50%; */
    /* margin-right: 50%; */
    padding-top: 15px;
    /* margin-left: 160px; */
    margin: 0 auto;
    justify-content: center;
  }

  .profile_pic span{
    font-size: 25px;
    
  }

  .amount{
    /* display: flex; */
    font-size: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .amount img{
    width: 10%;
    border-radius: 20px;
  }

  .name{
    font-weight: 900;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
  }

  .via{
    /* margin-bottom: 20px; */
  }

  .success{
    font-weight: 600;
    margin-bottom: 25px;
  }

  #date{
    font-size: 12px;
  }

  #ref{
    font-size: 12px;
    margin-top: 7px;
  }

  .det{
    color: #3498db;
    margin-top: 20px;
    margin-bottom: 25px;
  }

  .pa{
    
    text-decoration: none;
    border: 1px solid #3498db;
    color: #3498db;
    border-radius: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 12px;
    padding-right: 12px;
  }

  .via{
    display: flex;
    text-align: center;
    justify-content: center;
  }

  .via img{
    width: 5%;
    margin-right: 5px;
  }

  .paytm_info{
    justify-content: center;
  }

  

  .jumbotron{
    background-color: #5dab47;
    color: white;
    padding-top: 60px;
    padding-bottom: 30px;
    
  }

  .tick{
    border: white solid 2px;
    border-radius: 20px;
    width: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 30px;
  }

  .suc{
    margin-bottom: 20px;
  }

  .s_1{
    color: #6b7073;
    font-size: 13px;
  }

  #transaction_id .t_id_cont{
    display: flex;
    margin-top: 7px;
  }

  .copy{
    margin-left: auto;
    margin-right: auto;
    color: #7f52c1;
    font-size: 12px;
    font-weight: 800;
  }

  .cont{
    padding-top: 7px;
    padding-left: 10px;

  }
  .cont2{
    display: flex;
    justify-content: space-between;
    padding-right: 25px;
    
  }


  .b2_1{
    color: #7f52c1;
    padding: 20px;
    
  }

  .fake_b2{
    display: flex;
  justify-content: center;
  align-items: center;
  
  }
  
  .s_2{
    padding: 20px;
  }

  .cont_f{
    color: #7f52c1;
    /* position: relative; */
    
  }

  .cont_f span{
    border-top: black 1px solid;
    padding-top: 20px;
    position: absolute;
    margin-bottom:  20px;
  bottom: 0;
  left: 0;
  right: 0;
  }